{% extends 'base.html' %}

{% block head %}
<h1>Track My Money</h1>
{% endblock %}

{% block body %}
<div class="Mylist">
    <table>
        <tr>
            <th>Date</th>
            <th>Description</th>
            <th>Category</th>
            <th>Amount</th>
        </tr>
        {% for expense in expenses %}
            <tr>
                <td>{{ expense.tr_date.date() }}</td>
                <td>{{ expense.desc }}</td>
                <td>Category_item</td>
                <td>{{ expense.amt }}</td>
            </tr>
        {% endfor %}
    </table>
    <br>
    <br>

    <form action="/" method="POST">
        <button name="add_data" type="submit" value="Add">Add</button>
        <button name="add_data" type="submit" value="Analyse">Analyse</button>
    </form>
</div>
{% endblock %}